*{margin: 0;padding: 0;box-sizing: border-box;}
header{
    width: 100%;
    background-color: #808080;
    padding-bottom: 50px ;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.wapper{
    display: flex;
}
section{
    background-color: #cccccc;
    width: 25%;
    padding: 10px;
}
main{
    padding: 20px;
}
main img{
    width: 80px;
    float: left;
    margin-right: 25px;
}
main ul{
    margin-left:20px ;
    list-style: circle;
}
p{
    width: 90%;
}
main .title{
    font-weight: bold;
    margin-bottom: 20px;
}
main h2{
    margin-bottom: 20px;
}