* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-black--color:black;
    --primary-white--color:white;
    --primary-gray--color:#E0E0E0;
    
}

body{
    font-family: "Inter", sans-serif;
    background-color: #f5f5f5;
}
span{color: white;}
/* header */
header{width: 100%; box-shadow: 1px 1px 10px rgb(155, 153, 153);}
    .advertisement{width: 100%; background-color: white;    display: flex;justify-content: space-around; align-items: center;}
    .funciton{width: 100%; background-color: var(--primary-color);color:var(--primary-white--color);background-color: var(--primary-black--color);}
        .funcition_inner{display: flex; justify-content:flex-end;flex-wrap: nowrap;align-items: center; margin: 0 125px 0 125px; }
            .search_box{width: 830px; height:40px;display: flex; margin: 10px;position: relative;}
                input{height: 100%;width: 100%; border-radius: 5px;  border: none; outline: none; padding-left:10px;}
                button{padding: 10px; border-radius: 5px;background-color: black;}
                .search{width: 80px;height: 36px;position: absolute; right:0; transform: translate(-2px,2px); padding:0;}
                    i{font-size: x-large;margin-right:10px; color: white;}
                    .fa-chevron-down{font-size: small; }
                    .icon_function{ font-size: 12px; display: flex; align-items: center;margin-right: 20px;}
                        .icon_function span{max-width: 60px;text-wrap: nowrap;}
    menu{display: flex;justify-content: center; align-items: center; } 
        ul{display: flex;justify-content: center; align-items: center;list-style: none;margin: 10px;}
            li:last-child a{color: red;}
                a{text-decoration: none;color: var(--primary-black--color);padding: 10px;}
    



